html {
  background-color: #f3f3f3;
  font-family: 'Segoe UI';
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  background-color: #444;
  color: white;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

main {
  background: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  width: 60%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  margin-top: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  width: 70%;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
