<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
      <h1>O projekcie</h1>
      <nav>
        <a href="/">Strona główna</a>
      </nav>
    </header>

    <main>
      <p>Ten prosty blog został stworzony przez <strong>Jakuba Jedraka</strong> w ramach projektu z PZAW.</p>
    </main>

    <%- include('partials/foot') %>
  </body>
</html>
